
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>

<div>
    <h3>Sei un cliente?</h3>
    <p>Trova la tua spedizione!</p>
    @Html.ActionLink("Cerca Spedizione", "CercaSpedizione", "Spedizione")
</div>

<div>
    <h3>Sei un amministratore?</h3>
    <p>effettua l'accesso!</p>
    @Html.ActionLink("Cerca Spedizione", "CercaSpedizione", "Spedizione")
</div>
